In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import neighbors, model_selection, preprocessing
from scipy import stats
from helpers import helpers
%matplotlib inline

## Carga de datos

In [31]:
df = pd.read_csv('C:/Users/agust/Desktop/projects/myprojects/KNN/datasets/glass.csv')
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

## Preprocessing

In [32]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [33]:
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [34]:
# Escalado de datos:
df.iloc[:, df.columns != 'Type'] = preprocessing.scale(df.iloc[:, df.columns != 'Type'])
df

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,0.872868,0.284953,1.254639,-0.692442,-1.127082,-0.671705,-0.145766,-0.352877,-0.586451,1
1,-0.249333,0.591817,0.636168,-0.170460,0.102319,-0.026213,-0.793734,-0.352877,-0.586451,1
2,-0.721318,0.149933,0.601422,0.190912,0.438787,-0.164533,-0.828949,-0.352877,-0.586451,1
3,-0.232831,-0.242853,0.698710,-0.310994,-0.052974,0.112107,-0.519052,-0.352877,-0.586451,1
4,-0.312045,-0.169205,0.650066,-0.411375,0.555256,0.081369,-0.624699,-0.352877,-0.586451,1
...,...,...,...,...,...,...,...,...,...,...
209,-0.704815,0.898681,-1.865511,2.881125,-0.052974,-0.640968,0.157088,1.783978,-0.586451,7
210,-0.500178,1.856097,-1.865511,1.094342,0.529374,-0.763919,-0.392276,2.852405,-0.586451,7
211,0.754046,1.168721,-1.865511,1.154570,0.995252,-0.763919,-0.364103,2.953200,-0.586451,7
212,-0.612399,1.193270,-1.865511,0.993960,1.241133,-0.763919,-0.335931,2.812087,-0.586451,7
213,-0.414363,1.009152,-1.865511,1.275028,0.917606,-0.763919,-0.237327,3.013677,-0.586451,7

## Cross-Validation

In [35]:
# DivisiÃ³n de datos
X = df.iloc[:, df.columns != 'Type']
y = df['Type']
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=0.6, random_state=42)

In [36]:
# correlaciÃ³n de spearman:
spearman = stats.spearmanr(X, y)
spearman.correlation

array([[ 1.00000000e+00,  3.10396734e-02,  1.44155858e-01,
        -4.91821459e-01, -5.25732890e-01, -2.88001262e-01,
         7.03777290e-01, -1.81511060e-01,  9.61810523e-02,
        -2.12936480e-01],
       [ 3.10396734e-02,  1.00000000e+00, -1.26451154e-01,
         1.35909887e-01, -2.65643335e-01, -5.84503484e-01,
         2.72049322e-02,  4.11111434e-01, -2.17631126e-01,
         3.98682423e-01],
       [ 1.44155858e-01, -1.26451154e-01,  1.00000000e+00,
        -5.12419782e-01, -3.36811411e-01,  2.00741752e-01,
        -2.89119047e-01, -4.56107387e-01,  9.54874498e-02,
        -5.89854140e-01],
       [-4.91821459e-01,  1.35909887e-01, -5.12419782e-01,
         1.00000000e+00,  1.96513368e-01,  1.53437761e-01,
        -2.80951722e-01,  4.74564245e-01, -7.63134360e-02,
         5.60148327e-01],
       [-5.25732890e-01, -2.65643335e-01, -3.36811411e-01,
         1.96513368e-01,  1.00000000e+00, -7.18856538e-04,
        -2.21911722e-01,  1.70212354e-01, -7.19946629e-02,
         1.49320511e-01],
       [-2.88001262e-01, -5.84503484e-01,  2.00741752e-01,
         1.53437761e-01, -7.18856538e-04,  1.00000000e+00,
        -4.72703394e-01, -2.60405690e-01,  9.19028320e-02,
        -2.35641774e-01],
       [ 7.03777290e-01,  2.72049322e-02, -2.89119047e-01,
        -2.80951722e-01, -2.21911722e-01, -4.72703394e-01,
         1.00000000e+00, -7.77046931e-03,  1.11896658e-01,
         5.28883846e-02],
       [-1.81511060e-01,  4.11111434e-01, -4.56107387e-01,
         4.74564245e-01,  1.70212354e-01, -2.60405690e-01,
        -7.77046931e-03,  1.00000000e+00,  9.68007943e-03,
         5.06869170e-01],
       [ 9.61810523e-02, -2.17631126e-01,  9.54874498e-02,
        -7.63134360e-02, -7.19946629e-02,  9.19028320e-02,
         1.11896658e-01,  9.68007943e-03,  1.00000000e+00,
        -1.50185891e-01],
       [-2.12936480e-01,  3.98682423e-01, -5.89854140e-01,
         5.60148327e-01,  1.49320511e-01, -2.35641774e-01,
         5.28883846e-02,  5.06869170e-01, -1.50185891e-01,
         1.00000000e+00]])

In [39]:
# utilizo la funciÃ³n max_score (de mi modulo helpers)
max_score(X_train, X_test, y_train, y_test)

'n = 6 serÃ¡ el que de mayor precisiÃ³n de predicciÃ³n: 0.6627906976744186'

In [38]:
# Verificamos con un CV:
clf = neighbors.KNeighborsClassifier(7)
model_selection.cross_val_score(clf, X_train, y_train) # Exactitud baja dentro de los estandares. Algunos oulayers a vista limpia, poca cantidad de datos.

array([0.69230769, 0.5       , 0.73076923, 0.48      , 0.64      ])

## Entrenamiento

In [27]:
clf.fit(X_train, y_train)

# Score:
clf.score(X_test, y_test)

0.6511627906976745